.kotak1{
    background: blue;
    position:fixed;
    padding: 20px;
    top: 60px;
    font-size: 30px;
    left: 350px;
}

.kotak2{
    background: red;
    position:absolute;
    padding: 20px;
    font-size: 30px;
}
body{
    height: 1000px;
}