body{
    background-color: blue;
    text-align: center;
    font-family: roboto;
}

h1{
    color: white;
}



.supercontainer{
    
}
.semicontainer{
    width: max-content;
    margin: auto;
}

.ketengah{
    width: 1000px;
    height: max-content;
    position: absolute;
}

.kotak{
    background-color: white;
    padding: 20px;
    width: 200px;
    float: left;
    margin: 20px;
    height: 200px;
}