.link{
    font-family: sans-serif;
    font-size: 50pt;
    color: blue;
}

.link:hover{
    color: red;
    background: yellow;
}

.link:link{
    color: green;
}

.link:active{
    color: orange;
}

.link:visited{
    background: orange;
}

.contoh-link,
.contoh-link:link,
.contoh-link:active,
.contoh-link:visited{
    font-size: 20pt;
    background: #1ABC9C;
    color: #fff;
    text-decoration: none;
    padding: 10px;    
    font-family: sans-serif;
}
.contoh-link:hover{
    background: #16A085;
}